<%= render "shared/header" %>
<%= render "shared/submenu" %>
 
<div class="grid">
  <div class="item">
    <div class="item-photo"></div>
      <p class="recipe-title">料理名</p>
      <p class="recipe-owner">投稿者</p>
  </div>
  
</div>

<%= render "shared/footer" %>