<%= render "shared/header" %>
<%= render "shared/submenu" %>
 
<div class="grid">
  <div class="item">
    <div class="item-photo"></div>
      料理名
  </div>
  <div class="item">
    <div class="item-photo"></div>
      料理名
  </div>
  <div class="item">
    <div class="item-photo"></div>
      料理名
  </div>
  <div class="item">
    <div class="item-photo"></div>
      料理名
  </div>
  <div class="item">
    <div class="item-photo"></div>
      料理名
  </div>
</div>

<%= render "shared/footer" %>