<%= render "shared/header" %>
<%= render "shared/submenu" %>
 
<div class="grid">
  <% unless @recipes.count == 0 %>
    <% @recipes.each do |recipe| %>
      <%= render partial: "recipe", locals: {recipe: recipe} %>
    <% end %>
  <% else %>
    <h3 class="recipe-nothing">レシピがありません</h3>    
  <% end %>
</div>  
<%= render "shared/footer" %>