* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;  
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timerecipe-icon {
  max-width: 100%;
  width: 240px;
  /* height: 4vh; */
}

.search-form {
  width: 60vw;
  height: 4vh;
  display: flex;
  /* margin-bottom: 5px; */
}

.search-form>.input-box {
  width: 100%;
  height: 4vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #eb7640;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  background-color: orangered;
  font-size: 18px;
  flex-wrap: wrap;
  width: 20vh;
  padding: 0 1vw;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-photo {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.post-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #e2ae45;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 2px #000000;
  border-radius: 3px;
}
/* .post-btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
} */

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.show-lists{
  width: 200px;
  position: absolute;
  right: 370px;
  top: 70px;
  background-color: #ffffff;
}

.hidden{
  display: none;
}