<div class="sub-menu">
  <ul class="menu-view">
    <li class="menu-name">人気レシピ</li>
    <li class="menu-name">話題のレシピ</li>
    <li class="menu-name">レシピランキング</li>
    <li class="menu-name">レシピ</li>
    <li class="menu-name">レシピ</li>
  </ul>
</div>